<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head>
	    <title>Регистрация</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	</head>

	<body>
		<h2>Форма регистрации</h2>
		<hr>
		<p>Добро пожаловать на форму регистрации</p>
		<hr>
		<p>
		    <a th:href="@{/registrationForm}">Регистрация</a>
		</p>
		<hr>
	</body>
</html>









