<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	
	<title>Форма регистрации нового пользователя</title>
		<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	<style>
		.error {color:red}
	</style>
</head>

<body>
	<div>
		<div id="loginbox" style="margin-top: 50px;" class="mainbox col-md-3 col-md-offset-2 col-sm-6 col-sm-offset-2">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<div class="panel-title">Регистрации нового пользователя</div>
				</div>

				<div style="padding-top: 30px" class="panel-body">
					<!-- Registration Form -->
					<form th:action="@{/register/processRegistrationForm}" th:object="${skbUser}" method="POST" class="form-horizontal">

					    <div class="form-group">
					        <div class="col-xs-15">
					            <div>
									<!-- Check for registration error -->
									<div th:if="${registrationError}" class="alert alert-danger col-xs-offset-1 col-xs-10">
										<span th:text="${registrationError}"></span>
									</div>
					            </div>
					        </div>
					    </div>

						<!-- User name -->
						<div style="margin-bottom: 25px" class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span> 
							<input type="text" th:field="*{login}" placeholder="Логин (*)" class="form-control" />
						</div>

						<div th:if="${#fields.hasErrors('login')}"
							style="margin-bottom: 25px" class="text-danger">
							<ul>
							  <li th:each="err : ${#fields.errors('login')}" th:text="'Логин ' + ${err}"></li>
							</ul>						
						</div>
						

						<!-- Password -->
						<div style="margin-bottom: 25px" class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span> 
							<input type="password" th:field="*{password}" placeholder="Пароль (*)" class="form-control" th:errorclass="fieldError" />
						</div>
						<div th:if="${#fields.hasErrors('password')}"
							style="margin-bottom: 25px" class="text-danger">
							<ul>
							  <li th:each="err : ${#fields.errors('password')}" th:text="'Пароль ' + ${err}"></li>
							</ul>						
						</div>

						<!-- First name -->
						<div style="margin-bottom: 25px" class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span> 
							<input type="text" th:field="*{firstName}" placeholder="Имя (*)" class="form-control" th:errorclass="fieldError" />
						</div>
						<div th:if="${#fields.hasErrors('firstName')}"
							style="margin-bottom: 25px" class="text-danger">
							<ul>
							  <li th:each="err : ${#fields.errors('firstName')}" th:text="'Имя ' + ${err}"></li>
							</ul>						
						</div>
						
						<!-- Last name -->
						<div style="margin-bottom: 25px" class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span> 
							<input type="text" th:field="*{lastName}" placeholder="Фамилия (*)" class="form-control" th:errorclass="fieldError" />
						</div>
						<div th:if="${#fields.hasErrors('lastName')}"
							style="margin-bottom: 25px" class="text-danger">
							<ul>
							  <li th:each="err : ${#fields.errors('lastName')}" th:text="'Фамилия ' + ${err}"></li>
							</ul>						
						</div>

						<!-- Middle name -->
						<div style="margin-bottom: 25px" class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
							<input type="text" th:field="*{middleName}" placeholder="Отчество (*)" class="form-control" th:errorclass="fieldError" />
						</div>
						<div th:if="${#fields.hasErrors('middleName')}"
							style="margin-bottom: 25px" class="text-danger">
							<ul>
							  <li th:each="err : ${#fields.errors('middleName')}" th:text="'Отчество ' + ${err}"></li>
							</ul>
						</div>
						
						<!-- Email -->
						<div style="margin-bottom: 25px" class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon glyphicon-envelope"></i></span>
							<input type="text" th:field="*{email}" placeholder="email (*)" class="form-control" th:errorclass="fieldError" />
						</div>
						<div th:if="${#fields.hasErrors('email')}"
							style="margin-bottom: 25px" class="text-danger">
							<ul>
							  <li th:each="err : ${#fields.errors('email')}" th:text="'Email ' + ${err}"></li>
							</ul>						
						</div>

						<div style="margin-bottom: 25px ">
							<p>* Обязательно к заполнению!</p>
						</div>
						
						
						<!-- Register Button -->
						<div style="margin-top: 10px" class="form-group">						
							<div class="col-sm-6 controls">
								<button type="submit" class="btn btn-primary">Регистрация</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>